// TGM Responsive Variables

$smaller-width:  680px;    // -phones
$small-width:    780px;    // -big phones, small tablets
$med-width:      980px;    // -portrait tablets
$big-width:      1120px;   // -landscape tablets, smaller screens
$bigger-width:   $big-width + 1px;   // -big screens (default, used as min-width)

$med-screen-margin: 20px;
$sml-screen-margin: 10px;

// Big stuff
@media only screen and (max-width: $big-width) {

}

// Portrait tablets
@media only screen and (max-width: $med-width) {
  .x {
    &.axis text {
      font-size: 11px;
    }
  }
  ul.nav-pills {
    font-size: 12px;
  }
  #covoters-title {
    font-size: 14px;
  }
  .intro-text .headline {
    h1 {
      font-size: 3.0em;
    }
    .lead {
      font-size: 130%;
    }
  }
}

// Big phones, small tablets
@media only screen and (max-width: $small-width) {
  .x {
    &.axis text {
      font-size: 10px;
    }
  }
  .intro-text .headline {
    h1 {
      font-size: 2.5em;
    }
  }
  .chart-wrapper {
    h2 {
      font-size: 1.2em; 
    }
  }
} 

// Phones
@media only screen and (max-width: $smaller-width) {
}

@media only screen and (max-width: 750px) {
  .navbar.special-feature {
    padding: 8px 0px;

    .tgm {
      width: 195px;
    }

    .article-title-container {
      text-align: right;
      margin-right: 10px;
      .article-title {
        font-size: 1.2em;
      }
    }
  }
  .y {
    &.axis text {
      font-size: 11px;
    }
  }
  ul.nav-pills {
    font-size: 12px;
  }
  .control-names {
    display: none;
  }
  #covoters-title {
    font-size: 14px;
  }
  div.text-content #transcripts {
    width: 100%;
  }
  .intro-text {
    width: 85%;
    .headline {
      h1 {
        // font-size: 2.0em;
      }
      h2 {
        font-size: 100%;
      }
      .lead {
        font-size: 120%;
      }
    }
  }
  .chart-wrapper {
    h2 {
      font-size: 1.1em; 
    }
  }
  .follow, .country-abbrev {
    display: none;
  }
}

// Phones
@media only screen and (max-width: 550px) {
  .navbar.special-feature {
    text-align: center;

    .special-feature-misc {
      display: none;
    }
    .article-title-container {
      text-align: right;
      margin-right: 10px;
      .article-title {
        font-size: 1em;
      }
    }
  }
  div.text-content #navigation .nav-sections {
    width: 58%;
  }
  ul.nav-pills {
    font-size: 10px;
  }
  .control-names {
    display: none;
  }
  div.text-content #navigation .title-controls {
    width: 40%;
    #covoters-title {
      font-size: 12px;
    }
  }
  .intro-text {
    width: 90%;
    .headline {
      h1 {
        font-size: 2.5em;
      }
    }
  }
  .chart-wrapper {
    h2 {
      font-size: 0.9em; 
    }
  }
  .legend .axis text {
    font-size: 10px;
  }
  #incrementer-button {
    display: none;
  }
}