// TGM Layout Variables

$navbar-height:                  32px !default;
$navbar-padding:                 8px !default;
$navbar-outer-height:            $navbar-height + $navbar-padding * 2 !default;
$fixed-article-nav-height:       180px !default;
$navbar-height:                  48px !default;
$fixed-article-nav-padding-top:  20px !default;
$content-para-width:             620px !default;
