// TGM Type Variables

// Fontstacks
$font-family-sans-serif:  "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "ff-meta-serif-web-pro", Georgia, "Times New Roman", Times, serif !default;

// Type settings
$par-font-size:           20 !default;
$par-font-size-px:        20px !default;

