// TGM Color Variables
// --------------------------------------

// TGM default colors
$tgm-blue:               #0b6eb8 !default;
$tgm-blue-dark:          #0064cd !default;
$tgm-green:              #1aab45 !default;
$tgm-red:                #f3454c !default;
$tgm-yellow:             #f3bf07 !default;
$tgm-orange:             #fd8939 !default;
$tgm-pink:               #C133B1 !default;
$tgm-purple:             #800C8A !default;

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$black:                  #000;

// Defaults for app-level elements
$color-bg:               rgb(255, 235, 208) !default;
$color-bg-dark:          darken($color-bg, 7%) !default;
$color-hilight:          rgb(204, 190, 41) !default;
$color-hilight-lighten:  lighten($color-hilight, 20%) !default;

$navbar-bg-color:        rgb(27, 27, 27);

$accent-color-primary:   $gray-lighter !default;
$accent-color-light:     lighten($tgm-blue, 20%) !default;
$accent-color-dark:      $tgm-blue !default;
$accent-color-trsp:      rgba(0, 0, 0, 0.2) !default;

$color-text:             rgb(34, 35, 24) !default;
$color-overlay:          rgba(darken($color-text, 3.5%), 0.85) !default;
